/* Обнуление */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
}
button {
  cursor: pointer;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: calc(100vw * (16 / 1920)); /*(1/120)*/
  color: #000;
  font-weight: 400;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: #f1f4fb;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
._container {
  max-width: 95%;
  margin: 0px auto;
  /* background-color: rgba(237, 217, 146, 0.264); */
}
/* ---ШАПКА------------------------------------------------------------------------------- */
.header__container {
  max-width: 100%;
  width: 100%;
  display: flex;
  background-color: #f1f4fb;
  border-bottom-left-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  height: 5.625rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.2727em;
  text-transform: uppercase;
  font-size: 1.375rem;
  box-shadow: 0 0.3125rem 1.875rem 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10000000;
}
.header__menu-btn {
  display: flex;
  gap: 0.9375rem;
  z-index: 10000000;
  background-color: #f1f4fb;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  width: 17.1875rem;
}
.header__menu-btn-burger {
  display: flex;
  padding: 0.625rem 0;
  flex-direction: column;
  gap: 0.375rem;
  background: none;
  height: 3.5625rem;
}
.header__menu-btn__nav {
  background-color: #f1f4fb;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #302752;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.625rem;
  left: 0;
  width: 17.55vw;
  padding: 2.5rem 0 2.125rem 0;
  top: 65%;
  line-height: 1.3;
  z-index: -1;
  border-bottom-left-radius: 2.625rem;
  border-bottom-right-radius: 2.625rem;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0px 0.55em 0.42em -0.46em rgba(0, 0, 0, 0.5);
}
a.header__menu-btn__nav-link {
  padding: 0.75rem 0 0.75rem 3.75rem;
  border-radius: 0.4em;
}
a.header__menu-btn__nav-link:hover {
  color: #110d22;
  background-color: #A2C0E6;
}
.header__menu-btn__nav-show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.burger__stick {
  background-color: #1e8cfb;
  height: 100%;
  width: 3.125rem;
}
.header__menu-btn-logo {
  font-size: 3.5625rem;
  color: #1e8cfb;
  font-weight: bold;
  font-family: "IBM Plex Sans-Bold", sans-serif;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.header__nav-item {
  font-size: 1.625rem;
  color: #302752;
  font-family: "Franklin Gothic Demi", sans-serif;
}
.header__btns {
  display: flex;
  gap: 6%;
}
.header__btns-login {
  font-size: 1.625rem;
  font-family: "Franklin Gothic Demi", sans-serif;
  background-color: #302752;
  color: #f1f4fb;
  width: 8.6538em;
  height: 1.8462em;
  text-align: center;
  padding-top: 2%;
  border-radius: 0.1923em;
}
.header__btns-signup {
  font-size: 1.625rem;
  font-family: "Franklin Gothic Demi", sans-serif;
  background-color: #1e8cfb;
  color: #f1f4fb;
  width: 8.6538em;
  height: 1.8462em;
  text-align: center;
  padding-top: 2%;
  border-radius: 0.1923em;
}
/* ---ФУТЕР------------------------------------------------------------------------------- */
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  color: #ffffff;
  background-color: #1e8cfb;
  max-width: 100%;
  width: 100%;
  padding: 0 3.125rem;
  align-items: center;
  padding-top: 1.875rem;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}
.footer__top {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}
.footer__top__logo {
  display: none;
}
/*
.footer__logo {
    display: flex;
    gap: 0.9375rem;
    margin-top: -0.3126rem;
}
.footer__logo-burger {
    display: flex;
    padding: 0.625rem 0;
    flex-direction: column;
    gap: 0.375rem;
}
#burger__stick-2 {
    background-color: #FFFFFF;
}
.footer__logo-text {
    font-size: 3.5625rem;
    font-weight: bold;
    font-family: 'IBM Plex Sans-Bold', sans-serif;
}*/
.footer__top__nav {
  font-size: 1.625rem;
  font-family: "Franklin Gothic Demi", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3.0769em;
  line-height: 1.2;
  width: fit-content;
}
.footer__nav-1 {
  display: flex;
  width: 51.875rem;
  justify-content: space-between;
}
.footer__nav-2 {
  display: flex;
  width: 51.875rem;
  justify-content: space-between;
}
.footer__nav-3 {
  display: flex;
  width: 51.875rem;
  justify-content: space-between;
}
.footer__nav-1-d {
  position: relative;
}
.footer__nav-1-d-imgs {
  position: absolute;
  width: 8.125rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.footer-img-vk {
  width: 2.0625rem;
  height: 2.0625rem;
  background-image: url("../images/vk-footer.svg");
  background-repeat: round;
}
.footer-img-tg {
  width: 2.0625rem;
  height: 2.0625rem;
  background-image: url("../images/tg-footer.svg");
  background-repeat: round;
}
.footer-img-nv {
  width: 2.0625rem;
  height: 2.0625rem;
  background-image: url("../images/nvsu-footer.svg");
  background-repeat: round;
}
.footer__top__btns {
  display: none;
  gap: 6%;
} /*
.footer__btns-login {
    font-size: 1.625rem;
    font-family: 'Franklin Gothic Demi', sans-serif;
    background-color: #FFFFFF;
    color: #1E8CFB;
    width: 8.6538em;
    height: 1.8462em;
    text-align: center;
    padding-top: 2%;
    border-radius: 0.1923em;
}
.footer__btns-signup {
    font-size: 1.625rem;
    font-family: 'Franklin Gothic Demi', sans-serif;
    background-color: #FFFFFF;
    color: #1E8CFB;
    width: 8.6538em;
    height: 1.8462em;
    text-align: center;
    padding-top: 2%;
    border-radius: 0.1923em;
}*/
.footer__bottom {
  height: 2.3214em;
  font-size: 1.75rem;
  font-family: "Franklin Gothic Demi", sans-serif;
}
/* ---ГЛАВНАЯ------------------------------------------------------------------------------- */
.main__container {
  flex-grow: 1;
  background-color: #f1f4fb;
  max-width: 100%;
  width: 100%;
}
/*картинка*/
.main__main-image {
  background-image: url("../images/main-first.png");
  background-repeat: round;
  width: 100%;
  height: 71.875rem;
  margin-top: -3.75rem;
  pointer-events: none;
}
/*первая секция*/
.main__section1 {
  width: 100%;
  padding: 7.5rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
}
.main__section1__left {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}
.main__section__left-text1 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.75rem;
  color: #031b25;
  margin-bottom: 0.25em;
}
.main__section__left-text2 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.75rem;
  color: #ffffff;
  position: relative;
  height: 1.25em;
}
.main__section__left-text2-text {
  position: absolute;
  z-index: 1;
}
.main__section__left-text2-back {
  width: 100%;
  height: 100%;
  background-color: #1e8cfb;
  position: absolute;
  border-radius: 0.375rem;
  top: 0;
  right: 1.6875rem;
  z-index: 0;
}
.main__section__left-text3 {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.5rem;
  color: #302752;
  padding-right: 4.1667em;
  line-height: 1.3;
  margin-top: 2.0833em;
  margin-bottom: 2.7083em;
}
.main__section__left__btns {
  display: flex;
  justify-content: space-between;
  padding-right: 5.3125rem;
}
.main__section__left__btns-zak,
.main__section__left__btns-spec {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.5rem;
  color: #1e8cfb;
  border: 1px solid #1e8cfb;
  height: 3.9583em;
  text-align: center;
  padding-top: 6%;
  border-radius: 6px;
}
.main__section__left__btns-zak {
  width: 9.5833em;
}
.main__section__left__btns-spec {
  width: 12.5em;
}
.main__section__left__btns-zak:hover,
.main__section__left__btns-spec:hover {
  color:#ffffff;
  border: none;
  background-color: #1e8cfb;
}
.main__section1__right {
  background-image: url("../images/main-section1.png");
  background-repeat: round;
  width: 40rem;
  height: 45rem;
  pointer-events: none;
}
/*вторая секция*/
.main__section2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 3.4375rem;
  padding-bottom: 4.6875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__section2-text1 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.875rem;
  color: #302752;
}
.main__section2-text2 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 2.3125rem;
  color: #302752;
  margin-top: 1.2162em;
}
.main__section2-img {
  background-image: url("../images/main-section2.png");
  background-repeat: round;
  width: 100%;
  height: 33.125rem;
  align-self: center;
  margin-top: 2.8125rem;
  pointer-events: none;
}
.main__section2-btn {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.875rem;
  color: #302752;
  text-align: center;
  align-self: center;
  background-color: #4bc9d8;
  border-radius: 0.1774em;
  width: 14.1452em;
  height: 1.3387em;
  padding-top: 0.0806em;
  margin-top: 0.6452em;
}
/*третья секция*/
.main__section3 {
  padding-top: 5rem;
  width: 90%;
  margin: 0 auto;
}
.main__section3-text {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.875rem;
  color: #302752;
  margin-bottom: 1.2903em;
}
.main__section3__lvl0 {
  width: 100%;
  display: flex;
  gap: 11.25rem;
  height: 62.5rem;
  justify-content: space-between;
  margin-bottom: 22.5rem;
}
.main__section3__lvl1 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.main__section3__lvl2-tall .main__section3__lvl__pic {
  height: 25rem;
  border-radius: 0.8125rem;
}
.main__section3__lvl2-short .main__section3__lvl__pic {
  height: 12.5rem;
  border-radius: 0.625rem;
}
#tallersquare {
  height: 27.5rem;
}
.main__section3__lvl2-tall {
  position: relative;
}
.main__section3__lvl2-short {
  position: relative;
}
.bluesquare {
  background-color: #1e8cfb;
}
.greensquare {
  background-color: #4bc9d8;
}
.main__section3__lvl-text1 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 2.3125rem;
  color: #302752;
  text-align: center;
  margin-top: 0.2703em;
  margin-bottom: 0.4054em;
}
.main__section3__lvl-text2 {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.5rem;
  color: #302752;
  text-align: center;
  line-height: 1.3;
}
.main__section3__lvl2-tall .main__section3__lvl-text2 {
  position: absolute;
  /*top475*/
}
.main__section3__lvl2-short .main__section3__lvl-text2 {
  position: absolute;
  /*top275*/
}
.main__section3__lvl__pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-remont {
  width: 10rem;
  height: 11.25rem;
  background-image: url("../images/main-remont.png");
  background-repeat: round;
  pointer-events: none;
}
#main-design {
  width: 8.4375rem;
  height: 6.875rem;
  background-image: url("../images/main-design.png");
  background-repeat: round;
  pointer-events: none;
}
#main-conditer {
  width: 6.5625rem;
  height: 7.5rem;
  background-image: url("../images/main-conditer.png");
  background-repeat: round;
  pointer-events: none;
}
#main-education {
  width: 13.4375rem;
  height: 13.125rem;
  background-image: url("../images/main-education.png");
  background-repeat: round;
  pointer-events: none;
}
#main-beauty {
  width: 12.5rem;
  height: 12.5rem;
  background-image: url("../images/main-beauty.png");
  background-repeat: round;
  pointer-events: none;
}
#main-househelp {
  width: 7.5rem;
  height: 8.4375rem;
  background-image: url("../images/main-househelp.png");
  background-repeat: round;
  pointer-events: none;
}
/*четвёртая секция*/
.main__section4 {
  padding: 0 6.25rem;
  padding-top: 3.75rem;
  padding-bottom: 12.1875rem;
  display: flex;
  justify-content: space-between;
}
.main__section4__left {
  display: flex;
  flex-direction: column;
}
.main__section4__left-text {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.875rem;
  color: #302752;
}
.main__section4__left__search {
  position: relative;
  width: 57.1875rem;
  margin-top: 2.8125rem;
  margin-bottom: 2.1875rem;
}
.main__section4__left__search input {
  width: 100%;
  height: 3.4848em;
  padding-left: 0.909em;
  outline: none;
  border-radius: 0.3939em;
  background-color: #ffffff;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 2.0625rem;
}
.main__section4__left__search input::placeholder {
  color: #b7b7b7;
}
.main__section4__left__search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 5.3125rem;
  height: 7.1875rem;
  border: none;
  background-color: #ffffff;
  border-radius: 0 0.8125rem 0.8125rem 0;
  cursor: pointer;
}
.main__section4__left__search button img {
  width: 2.75rem;
  height: 2.75rem;
}
.main__section4__left__btnsbox {
  display: flex;
  flex-direction: column;
  gap: 0.7576em;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 2.0625rem;
  color: #302752;
}
.main__section4__left__btnsbox__btns {
  display: flex;
  gap: 0.9375rem;
}
.main__section4__left__btnsbox__btns-btn {
  background-color: #ffffff;
  padding: 1rem 1.125rem;
  padding-top: 0.75rem;
  border-radius: 0.5625rem;
}
.main__section4__left__btnsbox__btns-btn:hover {
  background-color: #dadce8;
  color: #110d22;
}
#main__section4__left__btnsbox__btns-btn-blubtn {
  background-color: #1e8cfb;
  color: #ffffff;
}
#main__section4__left__btnsbox__btns-btn-blubtn:hover {
  background-color: #1f7cd9;
}
.main__section4__right {
  width: 40rem;
  height: 49.6875rem;
  background-image: url("../images/main-section4.png");
  background-repeat: round;
  pointer-events: none;
}
/*пятая секция*/
.main__section5 {
  padding: 0 4.6875rem;
  padding-top: 8.125rem;
  padding-bottom: 15rem;
}
.main__section5-text {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.875rem;
  color: #302752;
  padding-left: 0.3548em;
  margin-bottom: 1.9355em;
}
.main__section5__team {
  display: flex;
  justify-content: space-between;
}
.main__section5__team__member {
  display: flex;
  flex-direction: column;
  width: 20.9375rem;
  align-items: center;
  position: relative;
}
.main__section5__team__member-img {
  width: 100%;
  height: 25.625rem;
  background-color: #e8e8e8;
  border-radius: 0.75rem;
  background-repeat: round;
  pointer-events: none;
}
.main__section5__team__member-text1 {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.75rem;
  color: #302752;
  margin-top: 0.8929em;
  margin-bottom: 0.5357em;
}
.main__section5__team__member-text2 {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.125rem;
  color: #302752;
  text-align: center;
  width: 16.9444em;
  line-height: 1.3;
  position: absolute;
  top: 26.9444em;
}

/* ---ФОРМЫ РЕГИСТРАЦИИ И АВТОРИЗАЦИИ------------------------------------------------------------------------------- */
.signuplogin__container {
  flex-grow: 1;
  background-color: #f1f4fb;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signuplogin__section1 {
  margin: 12rem 0;
  width: 40.22rem;
  background-color: #e8e8e8;
  padding: 0 2.25rem;
  padding-top: 1.25rem;
  padding-bottom: 2.875rem;
  border-radius: 2.0625rem;
  display: flex;
  flex-direction: column;
  /*@media (max-width: 1200px) {
    width: calc(40.22rem + 5vh);
    padding: calc(1.25rem + 3vh) calc(2.25rem + 3vh) calc(2.875rem + 3vh) calc(2.25rem + 3vh);
    border-radius: calc(2.0625rem + 5vh);
  }*/
}

.signuplogin-title {
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 2.5rem;
  color: #302752;
  /*@media (max-width: 1200px) {
    font-size: calc(2.5rem + 1vh);
  }*/
}
.signuplogin__forms {
  display: flex;
  flex-direction: column;
  margin-top: 1.8125rem;
  gap: 1.4375rem;
  /*@media (max-width: 1200px) {
    margin-top: calc(1.8125rem + 2vh);
    gap: calc(1.4375rem + 2vh);
  }*/
}
.signuplogin__forms__form {
  width: 100%;
  height: 5.3125rem;
  background-color: #f1f4fb;
  border-radius: 1.125rem;
  position: relative;
  z-index: 0;
  /*@media (max-width: 1200px) {
    height: calc(5.3125rem + 1.5vh);
  }*/
}
.signuplogin__forms__form-input {
  width: 100%;
  height: 100%;
  background-color: #f1f4fb;
  border-radius: 1.125rem;
  outline: none;
  padding-left: 1rem;
  padding-right: 0.875rem;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #302752;
  z-index: 2;
  /*@media (max-width: 1200px) {
    padding-left: calc(1rem + 1vh);
    font-size: calc(1.25rem + 1vh);
  }*/
}
.signuplogin__form__placeholder-onestroke {
  position: absolute;
  z-index: 3;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #b7b7b7;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: text;
  /*@media (max-width: 1200px) {
    left: calc(1rem - 0.2vh);
    font-size: calc(1.25rem - 0.2vh);
  }*/
}
.signuplogin__forms__form-input:focus ~ .signuplogin__form__placeholder,
.signuplogin__forms__form-input:not(:placeholder-shown)
  ~ .signuplogin__form__placeholder {
  display: none;
}
.choices {
  margin-bottom: 0;
}
.choices__inner {
  width: 100%;
  height: 5.3125rem;
  background-color: #f1f4fb;
  border-radius: 1.125rem;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #302752;
  padding: 0;
  padding-left: 1rem;
  padding-right: 0.875rem;
}
.is-open .choices__inner {
  width: 100%;
  height: 5.3125rem;
  background-color: #f1f4fb;
  border-radius: 1.125;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #302752;
  padding: 0;
  padding-left: 1rem;
  padding-right: 0.875rem;
}
.choices__placeholder {
  color: #b7b7b7;
  opacity: 1;
  margin-top: 2.625rem;
  transform: translateY(-70%);
}
.choices__list--single {
  margin-top: 2.625rem;
  transform: translateY(-50%);
}
.choices__list--dropdown {
  z-index: 10;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #302752;
}
.is-open .choices__list--dropdown {
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
  padding-bottom: 0.4375rem;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding-left: 1.25rem;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 0.8125rem;
  color: #302752;
}
.choices__list--dropdown .choices__item::after,
.choices__list[aria-expanded] .choices__item::after {
  display: none;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item.choices__placeholder {
  color: #b7b7b7;
}
.choices__placeholder.choices__item--selectable {
  margin-top: 1rem;
  margin-bottom: -0.625rem;
}
.choices[data-type*="select-one"]::after {
  right: 0.875rem;
  width: 1.6875rem;
  height: 0.875rem;
  border: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/signup-arrow.svg");
  background-repeat: round;
  pointer-events: none;
}
.choices[data-type*="select-one"].is-open::after {
  margin: 0;
  border: 0;
  transform: rotate(180deg) translateY(50%);
}
#signup__birthday-field {
  color: #b7b7b7;
  height: 3.4375rem;
  margin-top: 1.8125rem;
}
#birthday-placeholder {
  top: 1.625rem;
}
.signuplogin__forms__form__btn-pass {
  width: 1.625rem;
  height: 1rem;
  position: absolute;
  background-image: url("../images/signuplogin-btnpass.svg");
  background-repeat: round;
  background-color: transparent;
  right: 0.875rem;
  top: 50%;
  transform: translateY(-50%);
}
.is-active-btnpass {
  opacity: 0.5;
}
.error-alert {
  color:#f50000;
  font-size: 1.5rem;
  z-index: 100000;
  padding: 1.2rem;
  /*background-color: #ffffff;
  border-radius: 1.2em;
  border: 1px solid #000000;*/
  margin-top: 1rem;
  line-height: 1.25;
  text-align: center;
  font-family: 'IBM Plex Sans-Bold', sans-serif;
  display:none;
}
/* ---Только у формы регистрации------------------------------------------------------------------------------- */
.signup__btn,
.login__btn {
  align-self: center;
  margin-top: 3rem;
  margin-bottom: 2.4375rem;
  width: 14.625rem;
  height: 3.1875rem;
  background-color: #1e8cfb;
  border-radius: 0.3125rem;
  font-size: 1.6875rem;
  color: #f1f4fb;
  font-family: "Franklin Gothic Demi", sans-serif;
  text-transform: uppercase;
}
.signup__bnt-login {
  align-self: center;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  color: #b7b7b7;
}
.signup__datacheck {
  align-self: center;
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.15rem;
  color: #302752;
}
.signup__datacheck__text-link {
  border-bottom: #302752 1px solid;
  opacity: 0.85;
}
.signup__datacheck__text-link:hover {
  opacity: 1;
}
#signup__datacheck-checkbox {
  width: 1.5rem;
}
/* ---Только у формы авторизации------------------------------------------------------------------------------- */
.login__btn {
  margin-top: 2.4rem;
  margin-bottom: 0.4rem;
}
#login__form {
  gap: 2.875rem;
}
/* ---ЛИЧНЫЙ КАБИНЕТ------------------------------------------------------------------------------- */
.office__container {
  flex-grow: 1;
  background-color: #f1f4fb;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.office__section1 {
  margin: 0 auto;
  margin-top: 9.75rem;
  margin-bottom: 2.75rem;
  width: 72.72%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.office__section1__topside {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;
}
.office__section1__topside-title {
  color: #302752;
  font-size: 3.1rem;
  font-family: "Geometria ExtraBold", sans-serif;
}
.office__section1__topside-btn {
  padding: 0.5rem 0.6rem;
  color: #f1f4fb;
  background-color: #1e8cfb;
  text-transform: uppercase;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.3rem;
  border-radius: 0.35rem;
  height: fit-content;
  align-self: flex-end;
}
/* ---Личный кабинет первый сегмент------------------------------------------------------------------------------- */
.office__section1__info1 {
  display: flex;
  height: 38.5rem;
  justify-content: space-between;
}
.office__section1__info1__left {
  height: 100%;
  width: 62.12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.office__section1__info1__right {
  height: 100%;
  width: 35.7%;
  background-repeat: round;
  border-radius: 0.6rem;
}
.office__section1__info1__left__top {
  width: 100%;
  height: 48.05%;
  padding: 0 2.25rem;
  padding-top: 4.75rem;
  background-color: #4bc9d8;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.office__section1__info1__left__top-title {
  font-family: "Geometria ExtraBold", sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
}
.office__section1__info1__left__top__texts {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}
.office__section1__info1__left__bottom {
  width: 100%;
  height: 48.05%;
  display: flex;
  justify-content: space-between;
}
.office__section1__info1__left__bottom__left {
  height: 100%;
  width: 50.92%;
  background-color: #e8e8e8;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.office__section1__info1__left__bottom__right {
  height: 100%;
  width: 47.05%;
  background-color: #e8e8e8;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}
.office__section1__info1__left__bottom__left-img {
  height: 7.6rem;
  width: 7.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  background-repeat: round;
}
.office__section1__info1__left__bottom__right-img {
  height: 7.6rem;
  width: 11rem;
  background-repeat: round;
}
.office__section1__info1__left__bottom__left-title,
.office__section1__info1__left__bottom__right-title {
  color: #4bc9d8;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
}
.office__section1__info1__left__bottom__left-text1,
.office__section1__info1__left__bottom__right-text1 {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
}
.office__section1__info1__left__bottom__left-text2,
.office__section1__info1__left__bottom__right-text2 {
  text-align: center;
  color: #302752;
  font-family: "IBM Plex Sans-Regular", sans-serif;
  font-size: 0.95rem;
  width: 8.92632em;
  line-height: 1.2;
}
/* ---Личный кабинет второй сегмент------------------------------------------------------------------------------- */
.office__section1__info2 {
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: space-between;
}
.office__section1__info2__left {
  height: 100%;
  width: 49.11%;
  background-color: #e8e8e8;
  border-radius: 0.56rem;
  padding: 7.1rem 2.3rem;
}
.office__section1__info2__right {
  height: 100%;
  width: 49.11%;
  background-color: #1e8cfb;
  border-radius: 0.56rem;
  padding: 2.9rem 2.3rem;
}
.office__section1__info2__left-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}
.office__section1__info2__left__phonenumbers {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}
.office__section1__info2__left__phonenumbers-email {
  margin-top: 1.4em;
}
.office__section1__info2__right-title {
  color: #ffffff;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-bottom: 0.9211em;
}
.office__section1__info2__right__texts {
  color: #ffffff;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
/* ---Личный кабинет письмо------------------------------------------------------------------------------- */
.office__section1__letter {
  width: 100%;
  height: fit-content;
  background-color: #e8e8e8;
  border-radius: 0.6rem;
  padding: 1rem 1.3rem;
  padding-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.office__section1__letter__topside {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.9rem;
  height: 3.2rem;
}
.office__section1__letter__topside-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-left: 0.42104em;
}
.office__section1__letter__topside-btn {
  color: #1e8cfb;
  background-color: #ffffff;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  height: fit-content;
  padding: 0.4783em 1.0435em;
  margin-top: 0.15rem;
  border-radius: 0.2174em;
  cursor: pointer;
}
.office__section1__letter-text {
  width: 100%;
  height: 11.2rem;
  overflow-y: scroll;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  padding: 0.4em 0.8em;
  background-color: #ffffff;
  border-radius: 0.48em;
  line-height: 1.4;
  position: relative;
}
.office__section1__letter-text:focus {
  outline: none;
  border: 0.08em solid #cdcdcd;
  height: 28rem;
}
.office__section1__letter-text:focus ~ .office__section1__letter-text-darker {
  display: none;
}
.office__section1__letter-text::-webkit-scrollbar {
  width: 0px;
}
.office__section1__letter-text-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.office__section1__letter-text-darker {
  position: absolute;
  bottom: 1.75rem;
  left: 1.3rem;
  right: 1.3rem;
  background: linear-gradient(
    0deg,
    #e8e8e8 2.74%,
    rgba(236, 236, 236, 0.89) 21.27%,
    rgba(247, 247, 247, 0.6) 60.2%,
    rgba(255, 255, 255, 0.4) 86.19%
  );
  height: 3.45rem;
}
/* ---Личный кабинет объявление------------------------------------------------------------------------------- */
.office__section1__advertisement-popup-btn {
  margin: 0 auto;
  color: #ffffff;
  background-color: #1e8cfb;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  height: fit-content;
  padding: 0.4783em 1.0435em;
  margin-top: 0.15rem;
  border-radius: 0.2174em;
  cursor: pointer;
}
.office__section1__advertisement-popup {
  width: 100%;
  height: 100vh;
  z-index: 10000001;
  position: fixed;
  top: 0;
  background: #000000d1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.office__section1__advertisement-popup:target {
  opacity: 1;
  visibility: visible;
}
.office__section1__advertisement-popup-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.office__section1__advertisement {
  width: 55%;
  position: relative;
  margin: 0 auto;
  margin-top: 5vh;
  height: fit-content;
  background-color: #e8e8e8;
  border-radius: 0.6rem;
  padding: 1rem 1.3rem;
  padding-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.office__section1__advertisement__topside {
  display: flex;
  justify-content: space-between;
  height: 3.2rem;
}
.office__section1__advertisement__topside-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-left: 0.5263em;
}
.office__section1__advertisement__topside-btn {
  color: #1e8cfb;
  background-color: #ffffff;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  height: fit-content;
  padding: 0.4783em 1.0435em;
  margin-top: 0.15rem;
  border-radius: 0.2174em;
  cursor: pointer;
}
.office__section1__advertisement-text-title,
.office__section1__advertisement-title-title,
.office__section1__advertisement-price-title,
.office__section1__advertisement-image-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}
.office__section1__advertisement-text-text,
.office__section1__advertisement-title-text,
.office__section1__advertisement-price-text {
  width: 100%;
  height: 15rem;
  overflow-y: scroll;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  padding: 0.4em 0.8em;
  background-color: #ffffff;
  border-radius: 0.48em;
  line-height: 1.4;
  position: relative;
}
.office__section1__advertisement-title-text,
.office__section1__advertisement-price-text {
  height: 3rem;
  overflow-y: hidden;
}
.office__section1__advertisement-price-text {
  width: 20%;
}
.office__section1__advertisement-text:focus {
  outline: none;
  border: 0.08em solid #cdcdcd;
  height: 28rem;
}
.office__section1__advertisement-text::-webkit-scrollbar {
  width: 0px;
}
.office__section1__advertisement-text-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.office__section1__advertisement__imagecontainer {
  width: 100%;
  height: 8rem;
  background-color: #f3f3f3;
  cursor: pointer;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.office__section1__advertisement__imagecontainer:hover {
  background-color: #e1e1e1;
}
.office__section1__advertisement__imagecontainer-title {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
}
#office__section1__advertisement__imagecontainer-input[type="file"] {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 0.96rem;
  border: 2px solid #1e8cfb;
  padding: 0.6771em;
  border-radius: 0.4688em;
}
#office__section1__advertisement__imagecontainer-input[type="file"]::file-selector-button {
  background-color: #1e8cfb;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
}
#office__section1__advertisement__imagecontainer-input[type="file"]:hover {
  border: 2px solid#302752;
}
#office__section1__advertisement__imagecontainer-input[type="file"]:hover::file-selector-button {
  background-color: #302752;
}
.office__section1__advertisement__imagecontainer.drag-active {
  background-color: #e1e1e1;
}
.office__section1__advertisement__imagecontainer.drag-active
  #office__section1__advertisement__imagecontainer-input[type="file"] {
  border: 2px solid #302752;
}
.office__section1__advertisement__imagecontainer.drag-active
  #office__section1__advertisement__imagecontainer-input[type="file"]:hover::file-selector-button {
  background-color: #302752;
}
.office__section1__advertisement-btn {
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 1.5217em;
  color: #ffffff;
  background-color: #1e8cfb;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  border-radius: 0.2174em;
  padding: 0.4783em 1.0435em;
}

/* Личный кабинет окно обращения*/

.office__edit-popup {
  width: 100%;
  height: 100vh;
  z-index: 10000001;
  position: fixed;
  top: 0;
  background: #000000d1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.office__edit-popup:target {
  opacity: 1;
  visibility: visible;
}
.office__edit-popup-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.office__edit {
  width: 40.22rem;
  position: relative;
  margin: 0 auto;
  height: fit-content;
  background-color: #e8e8e8;
  border-radius: 0.6rem;
  padding: 1rem 1.3rem;
  padding-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.office__edit__topside {
  display: flex;
  justify-content: space-between;
  height: 3.2rem;
  position: relative;
}
.office__edit__topside-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-top: 0.2em;
}
.office__edit__topside-btn {
  color: #1e8cfb;
  background-color: #ffffff;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  height: fit-content;
  padding: 0.4783em 1.0435em;
  margin-top: 0.15rem;
  border-radius: 0.2174em;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.office__edit .signuplogin__forms__form {
  height: 2.5rem;
}
.office__edit .choices {
  height: 2.5rem;
}
.office__edit .choices-inner {
  height: 100%;
  border-radius: 1.125rem;
}
.office__edit .choices[data-type*=select-one] .choices__inner {
  height: 2.5rem;
  padding-bottom: 0;
}
.office__edit #signup__birthday-field {
  color: #b7b7b7;
  height: 2.5rem;
  margin-top: 0rem;
}
.office__edit .is-open .choices__inner {
  height: 2.5rem;
  border-radius: 1.125;
}
.office__edit .choices__placeholder {
  margin-top: 1rem;
  transform: translateY(-70%);
}
.office__edit .choices__list--single {
  margin-top: 1rem;
  transform: translateY(-50%);
}
.office__edit .is-open .choices__list--dropdown {
  border-bottom-left-radius: 1.125rem;
  border-bottom-right-radius: 1.125rem;
  padding-bottom: 0rem;
}
.office__edit .choices__placeholder.choices__item--selectable {
  margin-top: 1rem;
  margin-bottom: -0.625rem;
}
.office__edit .choices[data-type*="select-one"]::after {
  right: 0.875rem;
  width: 1.6875rem;
  height: 0.875rem;
  border: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/signup-arrow.svg");
  background-repeat: round;
  pointer-events: none;
}
.office__edit .choices[data-type*="select-one"].is-open::after {
  margin: 0;
  border: 0;
  transform: rotate(180deg) translateY(50%);
}
.office__edit__photo-container {
  height: 4rem;
}
#office__edit__photo-container-input[type="file"] {
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 0.7rem;
  border: 2px solid #1e8cfb;
  padding: 0.6771em;
  border-radius: 0.4688em;
}
#office__edit__photo-container-input[type="file"]::file-selector-button {
  background-color: #1e8cfb;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.4rem;
  outline: none;
  border: none;
}
.office__edit__btnbox {
  margin-top: 2em;
  height: fit-content;
  width: 100%;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 7rem;
}
.office__edit__btnbox-send,
.office__edit__btnbox-cancel {
  padding: 0.4783em 1.0435em;
  border-radius: 0.2174em;
}
.office__edit__btnbox-send {
  color: #ffffff;
  background-color: #1e8cfb;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
}
.office__edit__btnbox-cancel {
  color: #1e8cfb;
  background-color: #ffffff;
}

/* ---КАТАЛОГ------------------------------------------------------------------------------- */

.catalog__container {
  flex-grow: 1;
  background-color: #f1f4fb;
  max-width: 100%;
  width: 100%;
}
/* ---Каталог секция 1------------------------------------------------------------------------------- */
.catalog__section1 {
  margin: 8.75rem auto 3.75rem auto;
  width: 95.68%;
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 1rem;
  background-color: #e8e8e8;
  border-radius: 1.25rem;
}
.catalog__section1__btn {
  width: 19.03%;
  height: 6.625rem;
  background-color: #1e8cfb;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 2.625rem;
  border-radius: 0.9375rem;
}
.catalog__section1__search {
  height: 6.625rem;
  width: 79.91%;
  position: relative;
}
.catalog__section1__search input {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0.9375rem;
  padding: 0 1.875rem;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.90625rem;
  outline: none;
}
.catalog__section1__search input::placeholder {
  color: #b7b7b7;
}
.catalog__section1__search button {
  position: absolute;
  height: 100%;
  background-color: #ffffff;
  border-top-right-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  right: 0;
}
.catalog__section1__search button img {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2rem;
}
/* ---Каталог секция 2 фильтры------------------------------------------------------------------------------- */
.catalog__section2 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 3.4375rem;
  width: 95.68%;
  justify-content: space-between;
}
.catalog__section2__filter {
  width: 26.18%;
  background-color: #e8e8e8;
  border-radius: 1.75rem;
  margin-top: 1.875rem;
  height: fit-content;
}
.catalog__section2__filter__title {
  margin-top: 1.125rem;
  margin-left: 1.9375rem;
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 2.625rem;
}
.catalog__section2__filter__filters {
  margin: 0 1.6875rem;
  margin-top: 2.375rem;
  margin-bottom: 2.8125rem;
}
.catalog__section2__filter__filters__lvl1-item {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.4375rem;
}
.catalog__section2__filter__filters__lvl1-item a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-bottom: 0.375rem;
}
.catalog__section2__filter__filters__lvl1-itemarrow {
  width: 1.375rem;
  height: 0.75rem;
  background-repeat: round;
  background-image: url("../images/catalog-filter-arrow.svg");
}
.catalog__section2__filter__filters__lvl2-item a {
  display: flex;
  align-items: center;
  gap: 0.1876rem;
  padding: 0.375rem 0;
  padding-left: 2.625rem;
}
.catalog__section2__filter__filters__lvl2-itemarrow {
  width: 1.375rem;
  height: 0.75rem;
  background-repeat: round;
  background-image: url("../images/catalog-filter-arrow.svg");
}
.catalog__section2__filter__filters__lvl2-item__range {
  margin: 1.75rem 3.9375rem 2.25rem 4.1875rem;
}
.noUi-connects {
  border-radius: 0;
}
.noUi-target {
  border-radius: 0;
  border: none;
}
.noUi-connect {
  background: #1e8cfb;
  border: none;
}
.noUi-horizontal .noUi-handle {
  border-radius: 0.4375rem;
  background: #1e8cfb;
  box-shadow: none;
  width: 2.625rem;
  height: 1.5625rem;
  top: -0.5625rem;
  border: none;
}
.noUi-handle:after,
.noUi-handle:before {
  display: none;
}
.noUi-horizontal .noUi-tooltip {
  top: 0;
  background: transparent;
  border: none;
  color: #ffffff;
  font-family: "IBM Plex Sans-Regular", sans-serif;
  font-size: 0.75rem;
}
/*
.catalog__section2__filter__filters__lvl2-item__range {
    margin: 28px 63px 36px 67px;
}
.catalog__section2__filter__filters__lvl2-item__rangeslider {
    height: 8px;
    background-color: #FFFFFF;
    position: relative;
}
.catalog__section2__filter__filters__lvl2-item__rangeslider-progress {
    height: 8px;
    left: 23%;
    right: 0;
    position: absolute;
    background-color: #1E8CFB;
}
.catalog__section2__filter__filters__lvl2-item__rangeinput {
    position: relative;
}
.catalog__section2__filter__filters__lvl2-item__rangeinput input {
    position: absolute;
    top: -9px;
    height: 8px;
    width: 100%;
    background: none;
    pointer-events: none;
    appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 25px;
    width: 42px;
    border-radius: 7px;
    pointer-events: auto;
    appearance: none;
    background-color: #1E8CFB;
}
*/
.catalog__section2__filter__filters__lvl2-item__price {
  height: 1.75rem;
  width: 20.125rem;
  background-color: #ffffff;
  border-radius: 0.3125rem;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 0.625rem;
  display: flex;
  align-items: center;
  margin-top: 0.8125rem;
}
.catalog__section2__filter__filters__lvl2-item__price-span {
  color: #b7b7b7;
  padding-left: 0.3125rem;
  height: 100%;
  display: flex;
  align-items: center;
}
#price-span-last {
  padding-left: 0.4375;
  border-left: #302752 solid 0.125rem;
  border-bottom-left-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
}
.catalog__section2__filter__filters__lvl2-item__price input {
  font-size: 0.78rem;
  width: 8.9375rem;
  padding: 0 0.625rem;
  outline: none;
  height: 100%;
}
.catalog__section2__filter__filters__lvl2-item__price #max {
  width: 8.4375rem;
}
.catalog__section2__filter__filters__lvl3-item a {
  color: #302752;
  font-family: "IBM Plex Sans-Regular", sans-serif;
  font-size: 1.4375rem;
  padding: 0.125rem 0;
  padding-left: 6.25rem;
}
.catalog__section2__filter__filters__lvl3-choices {
  width: 14.4375rem;
  height: 1.75rem;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 0.75rem;
  appearance: none;
  border-radius: 0.3125rem;
  margin-left: 4.3125rem;
  padding-left: 0.375rem;
  outline: none;
  margin-bottom: 2.0625rem;
  margin-top: 0.25rem;
}
.down {
  transform: rotate(180deg);
}

/* ---Каталог секция 2 вакансии------------------------------------------------------------------------------- */
.catalog__section2__adds {
  width: 71.86%;
}
.catalog__section2__adds__title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 3.9375rem;
  margin-bottom: 2rem;
}
.catalog__section2__adds__addcontainer {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.catalog__section2__adds__addcontainer__addcart {
  width: 100%;
  background-color: #e8e8e8;
  height: 23.5rem;
  border-radius: 1.75rem;
  padding: 1.75rem 2.0625rem;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
.catalog__section2__adds__addcontainer__addcart__leftpart {
  width: 81.43%;
  background-color: #ffffff;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.catalog__section2__adds__addcontainer__addcart__leftpart__img {
  height: 100%;
  width: 31%;
  background-color: #b7b7b7;
  border-radius: 1.25rem;
  background-repeat: round;
  position: relative;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color:#1e8dfb9d;
  visibility: hidden;
}
.swiper-pagination-bullet {
  background-color: #1e8dfb9d;
  height: 4px;
  width: 1rem;
  border-radius: 2px;
 visibility: hidden;
}
.swiper:hover .swiper-button-prev::after,
.swiper:hover .swiper-button-next::after,
.swiper:hover .swiper-pagination-bullet {
  visibility: visible;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
}
.catalog__section2__adds__addcontainer__addcart__leftpart__texts {
  width: 69%;
  padding: 0.9375rem 1.56rem 1.25rem 1.56rem;
  overflow: hidden;
}
.catalog__section2__adds__addcontainer__addcart__leftpart__texts__title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 1.5625rem;
}
.catalog__section2__adds__addcontainer__addcart__leftpart__texts__text {
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
}
.catalog__section2__adds__addcontainer__addcart__rightpart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 1.75rem;
}
.catalog__section2__adds__addcontainer__addcart__rightpart__price {
  text-align: center;
  color: #1e8cfb;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.375rem;
  line-height: 1.1;
}
.catalog__section2__adds__addcontainer__addcart__rightpart__btn {
  text-transform: uppercase;
  color: #f1f4fb;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.375rem;
  background-color: #1e8cfb;
  padding: 0.58rem 1.8125rem;
  border-radius: 0.5rem;
}

/* Каталог окно обращения*/

.catalog__appeal-popup {
  width: 100%;
  height: 100vh;
  z-index: 10000001;
  position: fixed;
  top: 0;
  background: #000000d1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}
.catalog__appeal-popup:target {
  opacity: 1;
  visibility: visible;
}
.catalog__appeal-popup-area {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
.catalog__appeal {
  width: 55%;
  position: relative;
  margin: 0 auto;
  height: fit-content;
  background-color: #e8e8e8;
  border-radius: 0.6rem;
  padding: 1rem 1.3rem;
  padding-bottom: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.catalog__appeal__topside {
  display: flex;
  justify-content: center;
  height: 3.2rem;
  position: relative;
}
.catalog__appeal__topside-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.9rem;
  margin-top: 0.2em;
  max-width: 90%;
}
.catalog__appeal__topside-btn {
  color: #1e8cfb;
  background-color: #ffffff;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  height: fit-content;
  padding: 0.4783em 1.0435em;
  margin-top: 0.15rem;
  border-radius: 0.2174em;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.catalog__appeal__message-title,
.catalog__appeal__downside-title {
  color: #302752;
  font-family: "Geometria ExtraBold", sans-serif;
  font-size: 1.5rem;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}
.catalog__appeal__downside-title {
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
}
.catalog__appeal__message-text {
  width: 100%;
  height: 15rem;
  overflow-y: scroll;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  padding: 0.4em 0.8em;
  background-color: #ffffff;
  border-radius: 0.48em;
  line-height: 1.4;
  position: relative;
}
.catalog__appeal__downside-input {
  width: 12em;
  height: 3rem;
  overflow-y: scroll;
  color: #302752;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.25rem;
  padding: 0.4em 0.8em;
  background-color: #ffffff;
  border-radius: 0.48em;
  line-height: 1.4;
  position: relative;
}
.catalog__appeal__message-text:focus,
.catalog__appeal__downside-input:focus {
  outline: none;
  border: 0.08em solid #cdcdcd;
}
.catalog__appeal__message-text::-webkit-scrollbar {
  width: 0px;
}
.catalog__appeal__downside {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 2.2rem;
}
.catalog__appeal__downside__namepart,
.catalog__appeal__downside__connectpart {
  display: flex;
  gap: 1.875rem;
}
.catalog__appeal__btnbox {
  margin-top: 2em;
  height: fit-content;
  width: 100%;
  font-family: "Franklin Gothic Demi", sans-serif;
  font-size: 1.15rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 7rem;
}
.catalog__appeal__btnbox-send,
.catalog__appeal__btnbox-cancel {
  padding: 0.4783em 1.0435em;
  border-radius: 0.2174em;
}
.catalog__appeal__btnbox-send {
  color: #ffffff;
  background-color: #1e8cfb;
  font-family: inherit;
  font-size: inherit;
  text-transform: inherit;
}
.catalog__appeal__btnbox-cancel {
  color: #1e8cfb;
  background-color: #ffffff;
}

/* ---ИНФОБЛОК------------------------------------------------------------------------------- */

.infoblock__container {
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
}
.main__nav {
  width: 40%;
  align-self: center;
  background-color: #1e8cfb;
  padding: 3rem 2rem;
  border-radius: 1rem;
  color: #fff;
  font-family: "IBM Plex Sans-Bold", sans-serif;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 900px) {
    width: 70%;
    font-size: 2rem;
  }
}
.main__nav-title {
  align-self: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  @media (max-width: 900px) {
    margin-bottom: 3rem;
    font-size: 4rem;
  }
}
.main__nav-link-title {
  background-color: #A2C0E6;
  width: 100%;
  color: #110d22;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  @media (max-width: 900px) {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }
}
.main__nav-link-title:hover {
  background-color: #f1f4fb;
  color: #302752
}
.main__nav-link {
  margin: 0 0 0.8rem 1.5rem;
  line-height: 1.3;
}
.main__nav-link::before {
  content: ">";
  margin: 0 1rem 0 0;
}
.main__nav-link:hover {
  color: #f1f4fb;
}
.main__block {
  align-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5rem;
  margin: 3rem 0;
  border: 0.4rem solid #302752;
  height: 4rem;
  border-radius: 1.5rem;
  border-bottom: none;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4em;
  color: #302752;
}
.main__text {
  width: 70%;
  align-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #302752;
  font-size: 1.5rem;
  line-height: 1.5;
  text-indent: 1em;
  margin: 1rem 0;
}
.main__text-link {
  color: #110d22;
  border-bottom: #110d22 2px solid;
  opacity: 0.85;
}
.main__text-link:hover {
  opacity: 1;
}
.main__info {
  align-self: center;
  margin: 1rem 0;
}
.main__img {
  width: 70rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.main__title {
  font-family: 'Geometria ExtraBold', sans-serif;
  align-self: center;
  font-size: 1.5rem;
  margin: 2rem 0;
  height: 3rem;
  border-bottom: 0.1em solid #110d22;
  padding: 0 2em;
  color: #110d22;
}
.main__list {
  width: 65%;
  align-self: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #302752;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.main__item::before {
  content: ">";
  margin: 0 1.5rem 0 0;
}
.main__item {
  line-height: 1.2;
}